:root {
  background-color: #ebebeb;
}


body {
  height: 100vh;
  max-width: 100vw;

  padding: 1.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


