

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    height: 4rem;

    padding: 1.2rem 2rem;
    box-sizing: border-box;

    border-radius: 1rem;
    margin-bottom: 1.5rem;
    
}

.main > img {
    height: 2rem;
    cursor: pointer;
}


.preview_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.preview {
    height: 2.5rem;
    width: 7.125rem;

    border-radius: 0.5rem;
    border: 0.15rem solid #633CFF;
    background-color: transparent;
    
    color: #633CFF;
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: 0.4s;
    font-family: "Instrument Sans", sans-serif;
}

.preview:hover {
    background-color: #EFEBFF;
}






.links {
    display: flex;
    gap: 1rem;

    font-weight: 500;
}




.navlink:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    height: 2.5rem;
    width: 7.625rem;

    border-radius: 0.8rem;

    color: #737373;
    cursor: pointer;
}

.navlink:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    height: 2.5rem;
    width: 11.6875rem;

    border-radius: 0.8rem;

    color: #737373;
    cursor: pointer;
}


.navlink > svg {
    height: 1.25rem;
    fill: #737373;
    transition: 0.4s;
}

.navlink:hover {
    color: #633CFF;
}

.navlink:hover > svg {
    fill: #633CFF;
}







.navlink_active {
    background-color: #EFEBFF;
    border: 1px solid #633CFF;
    border-radius: 0.75rem;
    
    font-weight: 400;
    color: #633CFF;

    cursor: pointer;
    transition: 0.4s;
}

.navlink_active:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    height: 2.5rem;
    width: 7.625rem;

    border-radius: 0.75rem;

    color: #633CFF;
}

.navlink_active:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    height: 2.5rem;
    width: 11.6875rem;

    border-radius: 0.75rem;

    color: #633CFF;
}


.navlink_active > svg {
    height: 1.25rem;
    fill: #633CFF;
    transition: 0.4s;
}












.main_small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    background-color: white;
    height: fit-content;

    padding: 1.2rem 0.5rem;
    box-sizing: border-box;

    border-radius: 1rem;
    margin-bottom: 1.5rem;
}


.main_small > img {
    height: 2rem;
    cursor: pointer;
}


.preview_small {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    width: 3.5rem;

    border-radius: 0.5rem;
    border: 0.15rem solid #633CFF;
    background-color: transparent;
    
    color: #633CFF;
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: 0.4s;
}

.preview_small:hover {
    background-color: #EFEBFF;
}



.links_small {
    display: flex;
    gap: 1rem;
}

.links_small > .navlink {
    width: 3.5rem;
}

.links_small > .navlink_active {
    width: 3.5rem;
}


@media screen and (max-width: 330px) {

    .preview_small {
        width: 2.5rem;
    }

    .links_small > .navlink {
        width: 2.5rem;
    }
    
    .links_small > .navlink_active {
        width: 2.5rem;
    }
}
